extends layout

block content
  div.main(style="width: 100%; height:100%; z-index:99; overflow:hidden;")
  div(style="position: absolute; top:0px; bottom:0px; left:0px; right:0px; background: url('icons/background.jpg'); background-size: cover;  background-repeat: no-repeat;")
    div#header 
      h1#caption(style='width:80%') &nbsp; Famos Log Analyzer
      div(style="position:absolute; top:1px; height:60px; width:200px; color:white; right:0px; opacity:1.0")
        img(src='/icons/PNGPIX-COM-Microsoft-Logo-PNG-Transparent.png' style='height:45px; width:180px;')  
    div(style="width:400px; top:60px; bottom:0px; background-color:black; color:white; border:solid; opacity:0.8; position:absolute; border:2px solid #fff; margin:10px;padding:10px")
      div(style="width:400px; height:340px; margin-top:30px;vertical-align:baseline;")
        div#droparea
          div#dropareainner
            p
            img(src='/icons/csv.svg' style='width:96; height:96px; margin-top:10px; margin-bottom:20px;')
            p#dropfiletext Drop '[famos].csv' file here
            p or
            p
              input#uploadbtn(class='uploadbtn' type='button' value="Select File")
            input#upload(type='file')
      div#uploadWait(style="display:none;")
        div(style="position:absolute; left:27%; bottom:60px;")
          div#uploadProgress(class="c100 p0 big blue")
            span#percentage 0%
            div.slice
              div.bar
              div.fill     
      div#details(style="position:absolute; display:none; color: white; left:10px; padding:10px; right:10px; top:350px; bottom:10px; border:solid;")  
      div#waitImage(style="position:absolute; left:30%; bottom:60px; height:60px; color:white; display:none;")
        img(src='/icons/103.gif')  
    
    div#transcription(style="left:430px; right:0px; top:60px; bottom:0px; background-color:black; color:white; border:solid; opacity:0.9; position:absolute; border:2px solid #fff; margin:10px;padding:10px;")
      div#rendering(style="width:100%; display:none")
        div.tab#tab
          button.tablinks#tab1(onclick="showTab(event, 'structureFrame', 'tab1')" value="Structure") Route
          button.tablinks#tab2(onclick="showTab(event, 'speedFrame', 'tab2')" value="Speed") Speed
          button.tablinks#tab3(onclick="showTab(event, 'heightFrame', 'tab3')" value="Height") Height
          button.tablinks#tab4(onclick="showTab(event, 'gaugesFrame', 'tab4')" value="Guages") Gauges
        div.tabcontent#structureFrame(style="left:10px; right:10px; top:60px; bottom:52px; overflow:auto; background-color:black; opacity:0.9; position:absolute;")
          div#map(style="position:absolute; left:0px; right:0px; top:0px; bottom:0px;")
        div.tabcontent#speedFrame(style="left:10px; right:10px; top:60px; bottom:52px; background-color:white; opacity:0.9; position:absolute;")
          div#speed(style="position:absolute; left:0px; right:0px; top:0px; bottom:0px;")
            canvas#speedChart(style="position:absolute; left:0px; right:0px; top:0px; bottom:0px;")
        div.tabcontent#heightFrame(style="left:10px; right:10px; top:60px; bottom:52px; background-color:white; opacity:0.9; position:absolute;")
          div#height(style="position:absolute; left:0px; right:0px; top:0px; bottom:0px;")
            canvas#heightChart(style="position:absolute; left:0px; right:0px; top:0px; bottom:0px;")
        div.tabcontent#gaugesFrame(style="left:10px; right:10px; top:60px; bottom:52px; background-color:white; opacity:0.9; position:absolute;")
          div#gauges(style="position:absolute; left:0px; right:0px; top:0px; bottom:0px; border:solid;")
            canvas#speedGuage(style="position:absolute; left:20px; top:20px; height:200px;")
            canvas#bearingGuage(style="position:absolute; left:240px; top:20px; height:200px;")
            div.slidecontainer(style="position:absolute; left:10px; bottom:50px; height:30px;")
              input.slider#range(type="range" min="1" max="100" value="0")
            div#sliderValue(style="position:absolute; left:10px; padding:0px; width:800px; bottom:80px; color:black; height:50px;") 
              label#sliderPos
  
        div#actions
          input#printBtn(type='button' value="Report" style="position:absolute; bottom:12px; height:30px; width:90px; left:10px;")
  
  script(src="/modules/jquery/dist/jquery.min.js")
  script(src="/modules/leaflet/dist/leaflet.js") 
  script(src="/modules/leaflet-image/leaflet-image.js")
  script(src="/modules/papaparse/papaparse.min.js")
  script(src="/modules/chart.js/dist/Chart.js") 
  script(src="/modules/canvas-gauges/gauge.min.js") 
  
  script(src="/javascripts/responder.js")

